@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import "./responsive.scss";
@import "./new.scss";

//$violet: rgba(57, 4, 104, 1);
//$dark-violet: #240044;
$pink: linear-gradient(317deg, #FF2A00 0%, #FF4E08 100%);
$bg: #302825;

$violet: linear-gradient(317deg, #FF2A00 0%, #FF4E08 100%);
$dark-violet: linear-gradient(317deg, #dc2600 0%, #d9400a 100%);

body {
  color: #fff;
  background: $violet;
  background: #171616;
  //background: linear-gradient(90deg, $violet 0%, rgba(32, 1, 59, 1) 30%, rgba(32, 1, 59, 1) 70%, $violet 100%);
  font-family: 'Montserrat', sans-serif;
}

.content-block {
  background: $bg;
  padding: 30px 40px;
  border-radius: 30px;
}

img {
  max-width: 100%;
}
.transaction-details {
  width: 300px;
  max-width: 100%;
  margin: 0 auto;
}

.banner {
  position: relative;
  border-radius: 30px;
  height: 400px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  color: white;
  flex-wrap: wrap;
  align-items: center;

  &::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background: #000;
    opacity: .3;
  }

  div {
    z-index: 2;
  }
}

.sign-modal {

  .rs-modal-title {
    color: white;
  }

  .rs-modal-content {
    background: $bg;
  }

  .rs-modal-header-close {
    color: white;
  }

}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-left {
    height: 70px;
    padding: 10px 0;

  }

  &-logo img {
    max-height: 100%;
    left: auto !important;
    position: unset !important;
  }

  &-right {
    padding: 20px 0;
    display: flex;
    gap: 20px;
    align-items: center;
  }

  &-menu {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    font-size: 14px;

    &-item a {
      color: white !important;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: bold;
      transition: .1s ease-in;

      &:hover {
        color: #c9c9c9 !important;
      }
    }
  }

  &-panel {
    display: flex;
    justify-content: space-between;
    gap: 15px;
  }
}

.rs-dropdown-menu {
  background: $violet;
}

.casino-btn, {
  background: $violet !important;
  transition: .3s ease-in;
  font-weight: bold;
  color: black !important;

  &:hover {
    background: $dark-violet !important;
  }
}

.awssld, .awssld__content {
  border-radius: 30px;
  height: 400px;
}

.awssld__bullets {
  left: 30px !important;
  bottom: 20px !important;
  z-index: 2 !important;
  justify-content: start !important;

  button {
    background: white !important;
    width: 6px !important;
    height: 6px !important;
    margin: 3px !important;

    &.awssld__bullets--active {
      transform: scale(1.6) !important;
      background: #d30000 !important;
    }
  }
}

.winner-card-vertical + .winner-card-vertical {
  margin-top: 1rem;
}

.stock {
  background-size: cover;
  color: white !important;
  height: 485px;
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
  padding: 0 3rem;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #000;
    opacity: .5;
  }

  .rs-panel-header {
    color: white;
    font-size: 24px;
    font-weight: bold;
    z-index: 1;
  }
}


.winner-card {
  align-items: center;
  padding: 10px 0;

  &.winner-card-vertical {
    border-radius: 20px;
    padding: 20px;
    background: $violet;
    color: white;

    .winner-card-winner {
      margin-bottom: .5rem;
    }

    .winner-card-group {
      padding: 5px;
      width: 100%;

      &-title {
        text-align: center;
        margin-bottom: .5rem;
        font-size: 12px;
      }


    }
  }

  &-winner {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 5px;
    font-size: 11px;
    font-weight: bold;
  }
}

.shaded {
  box-shadow: 0 6px 9px #00000017;
}

.title {
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}

.rounded {
  border-radius: 30px !important;
}
.my-row {
  max-width: 100%;
  margin: 0 auto;

  margin-bottom: 1rem;
  width: 300px;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
}

.foot {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.filter-bar {
  display: flex;
  gap: 20px;

  .filter-btn {
    width: inherit;
    background: #fff;
    color: $violet;
    transition: .1s ease-in;

    &.active {
      border: 1px solid;
    }

    &:hover {
      background: #f3f3f3;
    }
  }
}

.search {
  span {
    background: none;
  }
}

.game-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-around;

  &.for-admin {
    max-height: 400px;
    overflow-y: scroll;

    .game-list-item {
      width: 100px !important;
      height: 100px !important;

      &-title {
        font-size: 7px;
      }
    }
  }

  &-item {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    position: relative;
    border: 2px solid white;
    box-shadow: #00000030 0px 9px 11px;

    .pink-btn {
      text-transform: uppercase !important;
      font-weight: bold;
    }

    &:hover {
      .game-list-item-overflow {
        opacity: 1;
      }
    }

    &-bg {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      border-radius: 20px;
      background-size: cover;
      background-position: center;
    }

    &-overflow {
      opacity: 0;
      transition: .2s ease-in;
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      left: 0;
      bottom: 0;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      background: $violet;
      color: white;
      font-size: 13px;
      text-transform: uppercase;
      border-radius: 20px;
      font-weight: bold;
    }

    &-demo {
      color: white !important;
      text-decoration: none !important;
      transition: .1s ease-in;

      &:hover {
        color: #d3d3d3 !important;
      }
    }

  }
}

.crypto-btns {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
  max-width: 100%;
  width: 500px;
}

.bonus-btns {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
  max-width: 100%;
  width: 500px;
}

.bonus-btn {
  width: 160px;
  height: 220px;
  border: 1px solid #ccc;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 20px;

  &:hover {
    opacity: .8;
  }

  &.active {
    border: 2px solid $violet;
  }
}

.alert {
  width: 400px;
  border-radius: 15px;
  margin: 1rem auto;
  text-align: center;
  background: #c0e5ff;
  color: #2b6b99;
  max-width: 100%;
}

.crypto-btn {
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 10px 5px;
  background: #443e3b;
  box-shadow: #00000030 0px 9px 11px;
  cursor: pointer;
  width: 80px;
  height: 80px;
  gap: .4rem;

  &.active {
    border: 2px solid white;
  }

  &__icon {
    width: 70%;
  }

  &__name {
    color: $violet;
    white-space: nowrap;
    font-size: 10px;
  }

  &:hover {
    opacity: .8;
  }
}

.pink-btn {
  background: $pink;
  color: white !important;
  transition: .1s ease-in;
  font-size: 16px !important;
  padding: 10px 25px !important;

  &:hover {
    background: $pink;
  }

  &[disabled] {
    background: lightgrey !important;
  }
}

.btn-lg {
  padding: 15px 30px !important;
}

.player {
  display: flex;
  gap: 10px;
  align-items: center;
  position: relative;

  &-timer {
    color: #c1c1c1;
    font-size: 10px;
  }

  &.player-loading {
    &::after {
      content: 'Загрузка...';
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 2;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 1;
      background: #fff;
      opacity: .5;
    }
  }

  &-title {
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;

    span {
      display: inline-block;
      padding-left: 100%;
      -webkit-animation: marquee 10s infinite linear;
      animation: marquee 10s infinite linear;
    }
  }

  &-control {
    display: flex;
    gap: 10px;

    &-btn {
      background: $violet !important;
      color: white !important;
      transition: .3s ease-in;

      &:hover {
        background: #6725a1 !important;
      }
    }
  }
}

@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-100%, 0);
  }
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0)
  }
}

.footer {
  margin-top: 2rem;
  background: $violet;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  text-align: center;
  padding: 20px;
}

.balance {
  font-size: 14px;
  font-family: 'Pacifico', cursive;
  margin-right: .5rem;
}
.game-list-item-title {
  text-align: center;
}

.profile-menu {
  display: flex;
  justify-content: center;
  gap: 40px 100px;
  padding: 40px 0;
  flex-wrap: wrap;

  &-item {
    color: white !important;
    text-decoration: none !important;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;

    &.active {
      &::after {
        background: $pink;
      }
    }

    &::after {
      opacity: .7;
      content: '';
      position: absolute;
      transition: .1s ease-in;
      bottom: -8px;
      left: -15px;
      right: -15px;
      height: 2px;
      background: $violet;
    }

    &:hover {
      &::after {
        background: $pink;
        opacity: .5;
      }
    }
  }
}

.cabinet {

  &-title {
    text-transform: uppercase;
    color: $violet;
    margin-bottom: 1rem;
  }

  &-group {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;

    &.cabinet-group-sm {
      .cabinet-field {
        flex-basis: 88%;
      }

      .cabinet-group-btn {
        flex-basis: 10%;
        padding: 0 !important;
        width: 40px;
        height: 40px;
      }
    }

    .cabinet-label {
      flex-basis: 100%;
    }

    .cabinet-field {
      flex-basis: 58%;
    }

    .cabinet-group-btn {
      flex-basis: 40%;
    }
  }

  &-field {
    width: 100% !important;

    input {
      padding: 13px 20px !important;
      background: #f5f5f5;
      border: none;
      border-radius: 30px !important;
      outline: none;
      font-size: 12px;

      &[readonly] {
        background: white !important;
        border: 1px solid #ccc;
      }

      &:focus {
        background: #dab0ff61;
        box-shadow: none !important;
      }
    }
  }
}

.container {
  min-height: 100vh;
}

.footer-container {
  min-height: auto !important;
}

.cabinet-container {
  max-width: 960px;
}

.popover {
  color: black !important;
}

.requirements {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  padding: 20px 0;

  .requirements-item-wrapper {
    width: 150px;
    font-size: 12px;
    text-align: center;


    .requirements-item {
      box-shadow: 0 6px 9px #00000017;
      position: relative;
      width: 120px;
      height: 120px;
      margin: 1rem auto;
      display: flex;
      justify-content: center;
      align-items: center;

      &-success {
        position: absolute;
        top: -10px;
        right: -10px;
        width: 35px;
        height: 35px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 20px;

        background: green;
      }

      &-error {
        position: absolute;
        top: -10px;
        right: -10px;
        width: 35px;
        height: 35px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 20px;

        background: $violet;

      }
    }
  }
}

.choose-photo-btn {
  margin-right: .5rem !important;
  background: white !important;
  color: $violet !important;
  padding: 10px 30px !important;
  box-shadow: 0 6px 9px #00000017;
  border-radius: 30px;

  &[disabled] {
    opacity: .5;
  }
}


.image {
  margin: .5rem 0;
  display: flex;
  gap: 10px;
  padding: 5px 20px;
  font-size: 10px;
  align-items: center;
  border-radius: 30px;
  justify-content: space-between;
  box-shadow: 0 6px 9px #00000017;
}

.pushmoney-bonus {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  img {
    width: 240px;
  }
}

.pushmoney-btn-toolbar {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.pushmoney-btn {
  background: white;
  box-shadow: 0 6px 9px #00000017;
  color: $violet;
}

.pushmoney-amount-group {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 20px 0;

  input {
    width: 300px;
  }
}

.field {
  padding: 13px 20px !important;
  background: #f5f5f5;
  border: none;
  border-radius: 30px !important;
  text-align: center;
  outline: none;
  font-size: 12px;

  &[readonly] {
    background: white !important;
    border: 1px solid #ccc;
  }

  &:focus {
    background: #dab0ff61;
    box-shadow: none !important;
  }
}

.card-group {
  display: flex;
  justify-content: center;
}

.transaction {
  margin: .5rem 0;
  display: flex;
  padding: 15px 30px;
  border-radius: 50px;
  align-items: center;

  &-status {
    display: flex;
    gap: 10px;
    align-items: center;


  }

  &-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background: white;
    font-size: 20px;

    &.success {
      font-size: 16px;
      color: green;
    }

    &.rejected {
      color: red;
    }

    &.pending {
      color: orange;
    }
  }

  &-col:first-child {
    text-align: start;
  }

  &-col:last-child {
    text-align: end;
  }

  &-col {
    text-align: center;
    flex-basis: 25%;
  }
}

.verification {
  position: relative;
  padding-top: 20px;
}

.verification-status-wrapper {
  position: absolute;
  top: -60px;
  text-align: center;
  width: 100%;
}

.verification-status {
  border-radius: 20px;
  display: inline-block;
  background: white;
  padding: 20px 30px;
  font-size: 18px;
  box-shadow: 0 6px 9px #00000017;

  svg {
    box-shadow: 0 4px 9px #00000017;
    padding: 5px;
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin-right: 2px;

    &.success {
      color: #7aff2c;
    }

    &.rejected {
      color: #cb0000;
    }

    &.pending {
      color: orange;
    }
  }
}

//Primary Text colors
$very-dark-desaturated-blue: hsl(238, 29%, 16%);
$soft-red: hsl(14, 88%, 65%);

// Background gradient:
$soft-violet: hsl(273, 75%, 66%);
$soft-blue: hsl(240, 73%, 65%);

//Neutral Text colors
$very-dark-grayish-blue: hsl(237, 12%, 33%);
$dark-grayish-blue: hsl(240, 6%, 50%);

//Dividers
$light-grayish-blue: hsl(240, 5%, 91%);

.faq {
  width: 100%;

  &__title {
    margin: 0;
    padding-bottom: 25px;
  }

  &__question {
    width: 100%;
    border-bottom: 1px solid $light-grayish-blue;
  }

  &__question-button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: none;
    background-color: transparent;
    padding: 0px;
    cursor: pointer;

    padding-top: 18px;
    padding-bottom: 18px;

    &::after {
      content: url(../assets/images/icon-arrow-down.svg);
      margin-right: 17px;
      transform: rotate(90deg);
    }

    &:hover {
      color: $soft-red;
    }
  }

  &__desc {
    padding-right: 17px;
    margin-top: 0;
    margin-bottom: 0;
    height: 0;
    overflow: hidden;
    transition: all 200ms ease-out;
  }
}

.faq__desc.show-description {
  height: auto;
  margin-bottom: 15px;
}

/* Arrows */

/* closed */
.faq__question-button::after {
  transition: transform 300ms ease-out;
}

/* open */
.font-weight-bold::after {
  transform: rotate(720deg);
}

.faq-blocks {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  .faq-block {
    width: 92px;
    height: 92px;
    background: transparent;
    box-shadow: 0 6px 9px #00000017;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    font-size: 9px;
    text-transform: uppercase;
    font-weight: bold;
    color: $violet;
    cursor: pointer;
    transition: .1s ease-in;

    &:hover {
      box-shadow: none;
    }

    &-icon {
      font-size: 30px;
    }
  }
}

.player-songs {
  max-height: 400px;
  overflow-y: scroll;

  &-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
    box-shadow: 0 5px 9px #00000017;
    border-radius: 30px;
    align-items: center;
    padding: 5px 20px;
  }
}